{% extends 'base.html' %}

{% block title %} About Us {% endblock %}



* 
* 
* .

 

{% block content %} 

<h2><p>Co-Learning platform offers its users the following opportunities</p></h2>

<ul><h3>* Discuss, research and learn together on any subject with any user,</h3></ul> 
<ul><h3>* Create content about the learned subjects,</h3></ul> 
<ul><h3>* Determine the learning steps,</h3></ul> 
<ul><h3>* Explanations about special terms related to the learned subject.</h3></ul> 


<h2><p>All these contents are free, if you wish to reach these opportunities please register.</p></h2>

{% endblock %}