{% extends 'base.html' %}
{% load static %}
{% block title %} {{space.title}} {% endblock %}

{% block content %} 


<div class="card mb-3">
    <h3 class="card-header">Space {{ space.id }}</h3>
    <div class="card-body">
      <h4 class="card-title">{{ space.title }}</h4>
      <p class="card-text">{{ space.content|safe }}</p>
      <p class="card-text"><h5>Space Members:</h5> {% for j in space.members.all %} {{ j }} {% endfor %} </p>
      <p class="card-text"><b>Creator:</b> {{ space.author }}</p>
      <p class="card-text"> created {{ space.created_date|timesince }} ago.</p>      
      
    </div>
  </div>

  
<div class="row">
  <div class="col-md-7"><h3> Discussion Baord</h3>
    {% if request.user in space.members.all or request.user == space.author %}
    <a class="btn btn-danger mt-3 mb-3" href="{% url 'create-message' %}">Send a Message</a>

    {% for i in messages %}

    
      <div class="card">
        <div class="card-body" style="display:flex;flex-direction: row;">
          <div>
            <img src="{% static 'img/no-avatar.jpg' %}" class="rounded" class="pt-4" width="75px" height="100px">
          </div>
          <div>
            <h5 class="card-title">{{i.sender.username}}</h5>
            <p class="car-text"> {{i.message}}</p>
            <p> {{i.created_time}}</p>
          </div>
        </div>
      </div>
    
    {% endfor %}

    {% else %}

    You are not authorized to view this part of the co-learning space.

    {% endif %}
   
  </div>




  <div class=" col-md-5"><h3> Learning Steps</h3></div>
    <div class="card mb-3">
    </div>
</div>






{% endblock %}

