<div class="col-md-2">

    <div class="card mb-3">
      <div class="card-header">
        Menu
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'edit-profile' %}">Edit Profile</a></li>
        <li class="list-group-item"><a href="{% url 'mycreatedspaces' %}">My Created Spaces</a></li>
        <li class="list-group-item"><a href="{% url 'mymemberspaces' %}">My Member Spaces</a></li>
        <li class="list-group-item"><a href="{% url 'create-space' %}">Create a Space</a></li>
        <li class="list-group-item"><a href="{% url 'change-password' %}">Change Password</a></li>
        <li class="list-group-item"><a href="{% url 'signout' %}">Sign out</a></li>
      </ul>

    </div>
  </div>